* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(59 58 58);
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.content {
  width: 100%;
  display: inline-block;
}

.hero-banner {
  margin-bottom: 20px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
.hero-banner.hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}
.hero-banner img {
  width: 100%;
  height: 300px;
}
.hero {
  display: flex;
  position: relative;
}

.hero h2 {
  display: flex;
  position: absolute;
  padding: 10px;
  right: 110px;
  bottom: 30px;
  background-color: rgb(59 58 58);
}

.hero .puspi {
  display: flex;
  position: absolute;
  padding: 10px;
  right: 135px;
  bottom: 40px;
  /* background-color: rgb(59 58 58); */
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.page-section {
  display: flex;
}

.contact {
  margin-top: 750px;
}

.about-me {
  width: 25%;
  height: 150px;
  padding: 20px;
  float: left;
  margin-left: 70px;
  border-right: 3px solid black;
}
.my-work-title {
  width: 11%;
  margin-top: 100px;
  height: 150px;
  padding: 20px;
}
.my-works {
  margin-top: 50px;
}

.about-me h2 {
  font-size: 30px;
}

.about-me-content {
  padding: 35px;
  height: 150px;
  text-align: justify;
}
.projects-2 {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.js-project {
  position: relative;
  width: 460px;
}
.js-project img {
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}
.tip-cal {
  position: relative;
  margin-bottom: 30px;
}
.tip-cal img {
  opacity: 1;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
}

.tip-cal img:hover {
  opacity: 0.5;
}
.js-project img:hover {
  opacity: 0.5;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.contact-wrap {
  width: 100%;
}
.contact {
}
.contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.contact-info {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.info {
  height: 50px;
  padding: 5px;
}
.info img {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  header h1 {
    display: inline-block;
    font-size: 25px;
  }
  a {
    font-size: 20px;
  }
  header-nav {
    padding-top: 0;
  }
  .page-section {
    height: 300px;
  }

  .my-work-title {
    width: 15% !important;
    margin-top: 100px;
    height: 150px;
    padding: 20px;
  }
  .js-project {
    position: relative;
    width: 240px !important;
  }

  .contact {
    margin-top: 350px !important;
  }
}

@media only screen and (max-width: 426px) {
  header {
    padding: 20px;
  }
  header nav {
    padding-top: 0px !important;
    margin-right: 0px !important;
    float: inherit !important;
  }
  a {
    font-size: 16px;
  }
  header nav ul li {
    margin-left: 0px;
    margin-right: 5px;
  }
  .about-me {
    width: 100%;
  }
  .about-me br {
    display: none;
  }
  .page-section {
    display: block;
  }
  .about-me {
    height: 80px;
    display: flex;
    justify-content: center;
    margin-left: 0;
    border-right: none;
  }
  .about-me h2 {
    font-size: 22px;
    width: 385px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  .my-work-title {
    display: block;
  }
  .image-title {
    font-size: 14px;
  }
  .contact {
    height: 236px !important;
    margin-top: 278px !important;
  }
  .contact-wrap h2 {
    font-size: 22px;
  }
  .js-project{
  width: 180px !important;
  }
}

@media only screen and (max-width: 325px) {
  .contact {
    height: 236px !important;
    margin-top: 278px !important;
  }
}
